{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}}
{{!-- Feel free to remove this! --}}
<header class="application--fixed application__header">
  HEADER
</header>
<main class="main-wrapper">
  {{outlet}}
</main>
<footer class="application--fixed application__footer">
  FOOTER
</footer>
